<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= event.body %>
  </p>

   <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

   <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>
  
  <p>
    <strong>Creator:</strong>
    <%= event.user.name %>
  </p>
</div>