<%= render 'layouts/nav' %>


<h2> Event Details </h2>
<% if @event.creator_id == current_user.id %>
  <%= button_to 'Delete Event', @event, method: :delete  %>
<% end %>
<%= render @event %>

<%= render 'attend' %> <br>

<h3> Attendees </h3>
<% @attended_event.each do |attendee|%>
  <%= attendee.user.name %> <br>
<% end %>
<br>
<%= link_to "Back to All Events", root_path %>
